<!-- Section Catalog - Андрій Крупко -->
<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="ctlg-name">Catalog</h2>

    <ul class="goods">
      <li class="name-goods">
        <div class="goods-clock">
          <div class="img-clock">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/clock-1-garmin-genix-7x-pro-mobile.webp 1x,
                  ./img/catalog/clock-1-garmin-genix-7x-pro-mobile.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/clock-1-garmin-genix-7x-pro-tablet.webp    1x,
                  ./img/catalog/clock-1-garmin-genix-7x-pro-tablet@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/clock-1-garmin-genix-7x-pro-desktop.webp    1x,
                  ./img/catalog/clock-1-garmin-genix-7x-pro-desktop@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="size"
                src="./img/catalog/clock-1-garmin-genix-7x-pro-mobile.webp"
                alt="Garmin Fenix 7X Pro Sapphire Solar"
              />
            </picture>
          </div>

          <h3 class="name-clock">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="cost-clock">€500</p>
        </div>
      </li>

      <li class="name-goods">
        <div class="goods-clock">
          <div class="img-clock">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/clock-2-garmin-marq-athlete-mobile.webp    1x,
                  ./img/catalog/clock-2-garmin-marq-athlete-mobile@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/clock-2-garmin-marq-athlete-tablet.webp    1x,
                  ./img/catalog/clock-2-garmin-marq-athlete-tablet@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/clock-2-garmin-marq-athlete-desktop.webp    1x,
                  ./img/catalog/clock-2-garmin-marq-athlete-desktop@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="size"
                src="./img/catalog/clock-2-garmin-marq-athlete-mobile.webp"
                alt="Garmin Marq Athlete"
              />
            </picture>
          </div>

          <h3 class="name-clock">Garmin Marq Athlete</h3>
          <p class="cost-clock">€450</p>
        </div>
      </li>

      <li class="name-goods">
        <div class="goods-clock">
          <div class="img-clock">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/clock-3-garmin-descent-mk1-mobile.webp    1x,
                  ./img/catalog/clock-3-garmin-descent-mk1-mobile@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/clock-3-garmin-descent-mk1-tablet.webp    1x,
                  ./img/catalog/clock-3-garmin-descent-mk1-tablet@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/clock-3-garmin-descent-mk1-desktop.webp    1x,
                  ./img/catalog/clock-3-garmin-descent-mk1-desktop@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="size"
                src="./img/catalog/clock-3-garmin-descent-mk1-mobile.webp"
                alt="Garmin Descent MK1"
              />
            </picture>
          </div>

          <h3 class="name-clock">Garmin Descent MK1</h3>
          <p class="cost-clock">€680</p>
        </div>
      </li>

      <li class="name-goods">
        <div class="goods-clock">
          <div class="img-clock">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/clock-4-garmin-d2-delta-px-mobile.webp    1x,
                  ./img/catalog/clock-4-garmin-d2-delta-px-mobile@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/clock-4-garmin-d2-delta-px-tablet.webp    1x,
                  ./img/catalog/clock-4-garmin-d2-delta-px-tablet@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/clock-4-garmin-d2-delta-px-desktop.webp    1x,
                  ./img/catalog/clock-4-garmin-d2-delta-px-desktop@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="size"
                src="./img/clock-4-garmin-d2-delta-px-mobile.webp"
                alt="Garmin D2 Delta PX"
              />
            </picture>
          </div>

          <h3 class="name-clock">Garmin D2 Delta PX</h3>
          <p class="cost-clock">€380</p>
        </div>
      </li>

      <li class="name-goods none">
        <div class="goods-clock">
          <div class="img-clock">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/clock-5-garmin-fenix-6-pro-solar-tablet.webp 1x,
                  ./img/catalog/clock-5-garmin-fenix-6-pro-solar-tablet.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/clock-5-garmin-fenix-6-pro-solar-tablet.webp    1x,
                  ./img/catalog/clock-5-garmin-fenix-6-pro-solar-tablet@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/clock-5-garmin-fenix-6-pro-solar-desktop.webp    1x,
                  ./img/catalog/clock-5-garmin-fenix-6-pro-solar-desktop@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="size"
                src="./img/catalog/clock-5-garmin-fenix-6-pro-solar-tablet.webp"
                alt="Garmin Fenix 6 Pro Solar"
              />
            </picture>
          </div>

          <h3 class="name-clock">Garmin Fenix 6 Pro Solar</h3>
          <p class="cost-clock">€400</p>
        </div>
      </li>

      <li class="name-goods none">
        <div class="goods-clock">
          <div class="img-clock">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/catalog/clock-6-tube-watch-s42-date-steel-tablet.webp 1x,
                  ./img/catalog/clock-6-tube-watch-s42-date-steel-tablet.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/catalog/clock-6-tube-watch-s42-date-steel-tablet.webp    1x,
                  ./img/catalog/clock-6-tube-watch-s42-date-steel-tablet@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/catalog/clock-6-tube-watch-s42-date-steel-desktop.webp    1x,
                  ./img/catalog/clock-6-tube-watch-s42-date-steel-desktop@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="size"
                src="./img/catalog/clock-6-tube-watch-s42-date-steel-tablet.webp"
                alt="Tube Watch S42 Date Steel With Black Case"
              />
            </picture>
          </div>

          <h3 class="name-clock">Tube Watch S42 Date Steel With Black Case</h3>
          <p class="cost-clock">€395</p>
        </div>
      </li>
    </ul>
    <button class="btn" type="button">Show more</button>
  </div>
</section>
