<div class="mobile-menu is-open" data-menu>
<div class="container mobile-menu-container">
    <button type="button" class="mobile-menu-close" data-menu-close>
<svg fill="#fff" width="34" height="34">
    <use href="/img/icons.svg#icon-x"></use>
</svg>
</button>
<ul class="mobile-menu-nav">
    <li class="mobile-menu-item"><a href="" class="mobile-menu-link current">Home</a></li>
    <li class="mobile-menu-item"><a href="" class="mobile-menu-link ">About Us</a></li>
    <li class="mobile-menu-item"><a href="" class="mobile-menu-link ">Catalog</a></li>
<li class="mobile-menu-item"><a href="" class="mobile-menu-link ">Sale</a></li>
<li class="mobile-menu-item"><a href="" class="mobile-menu-link ">Reviews</a></li>
<li class="mobile-menu-item"><a href="" class="mobile-menu-link ">Contact Us</a></li>
</ul>
<div class="mobile-menu-socials">
    <a href="https://facebook.com" class="social-link">
        <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-Frame-52"></use>
        </svg>
    </a>
    <a href="https://instagram.com" class="social-link">
        <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
    </a>
    <a href="https://youtube.com" class="social-link">
        <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-Frame-60"></use>
        </svg>
    </a>
</div>
