<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="customers-overwiev">
      <ul class="customers-list">
        <li class="customers-item">
           <picture>
            <source srcset="../img/catalog/reviews/Foto-1.jpg 1x, ./img/catalog/reviews/Foto-1-2x.jpg 2x"/> 
            <img src="../img/catalog/reviews/Foto-1.jpg" alt="John Wax" class="customers-photo" />
        </picture>
          <div class="name-feedback">
            <h3 class="customers-name">John Wax</h3>
            <p class="customers-review">
              Buying a watch from was the best choice for me. The design is
              perfectly combined with high quality materials. The strap fits
              nicely on the hand, and the mechanism works flawlessly.
            </p>
          </div>
        </li>
        <li class="customers-item review-hidden-mob">
          <picture>
            <source srcset="../img/catalog/reviews/Foto-2.jpg 1x, ./img/catalog/reviews/Foto-2-2x.jpg 2x"/> 
            <img src="../img/catalog/reviews/Foto-2.jpg" alt="Victoria Romashenko" class="customers-photo" />
        </picture>
          
          <div class="name-feedback">
            <h3 class="customers-name">Victoria Romashenko</h3>
            <p class="customers-review">
              Can't take my eyes off my watch from. Every time I put it on, it
              is admired by those around me. The build quality and attention to
              detail make it a real gem among my accessories.
            </p>
          </div>
        </li>
        <li class="customers-item review-hidden-mob review-hidden-tablet">
          <picture>
            <source srcset="../img/catalog/reviews/Foto-3.jpg 1x, ./img/catalog/reviews/Foto-3-2x.jpg 2x"/> 
            <img src="../img/catalog/reviews/Foto-3.jpg" alt="Anastasia Trachuk" class="customers-photo"/>
        </picture>
          <div class="name-feedback">
            <h3 class="customers-name">Anastasia Trachuk</h3>
            <p class="customers-review">
              My watch from is a real masterpiece. Every detail impresses with
              the high quality of execution. Special features like [specify
              features] make it an indispensable companion in my daily life.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
