<section class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-content">
      <ul class="sale-photos-list">
        <li class="sale-photos-item">
          <picture>

            <source media="(min-width: 1280px)" srcset="/img/sale/watch1-desk.webp 1x, \img\sale\watch1-desk-2x.webp 2x"
              type="image/webp" />

            <source media="(min-width: 768px)" srcset="/img/sale/watch1-tab.webp 1x, \img\sale\watch1-tab-2x.webp 2x"
              type="image/webp" />

            <source media="(max-width: 767px)" srcset="/img/sale/watch1-mob.webp 1x, \img\sale\watch1-mob-2x.webp 2x"
              type=" image/webp" />

            <img src="/img/sale/watch1-desk.webp" alt="Photo of Watch" class="sale-watch-photo" width="96" height="auto"
              loading="lazy" />
          </picture>
        </li>
        <li class="sale-photos-item">
          <picture>

            <source media="(min-width: 1280px)" srcset="/img/sale/watch2-desk.webp 1x,
                    /img/sale/watch2-desk-2x.webp 2x" type="image/webp" />

            <source media="(min-width: 768px)" srcset="/img/sale/watch2-tab.webp 1x, \img\sale\watch2-tab-2x.webp 2x"
              type="image/webp" />

            <source media="(max-width: 767px)" srcset="/img/sale/watch2-mob.webp 1x, \img\sale\watch2-mob-2x.webp 2x"
              type="image/webp" />

            <img src="/img/sale/watch2-desk.webp" alt="Photo of Watch" class="sale-watch-photo" width="96" height="auto"
              loading="lazy" />
          </picture>
        </li>
        <li class="sale-photos-item">
          <picture>

            <source media="(min-width: 1280px)" srcset="/img/sale/watch3-desk.webp 1x,
                    /img/sale/watch3-desk-2x.webp 2x" type="image/webp" />

            <source media="(min-width: 768px)" srcset="/img/sale/watch3-tab.webp 1x, \img\sale\watch3-tab-2x.webp 2x"
              type="image/webp" />

            <source media="(max-width: 767px)" srcset="/img/sale/watch3-mob.webp 1x, \img\sale\watch3-mob-2x.webp 2x"
              type="image/webp" />

            <img src="/img/sale/watch3-desk.webp" alt="Photo of Watch" class="sale-watch-photo" width="96" height="auto"
              loading="lazy" />
          </picture>
        </li>
        <li class="sale-photos-item">
          <picture>

            <source media="(min-width: 1280px)" srcset="/img/sale/watch4-desk.webp 1x,
                    /img/sale/watch4-desk-2x.webp 2x" type="image/webp" />

            <source media="(min-width: 768px)" srcset="/img/sale/watch4-tab.webp 1x, \img\sale\watch4-tab-2x.webp 2x"
              type="image/webp" />

            <source media="(max-width: 767px)" srcset="/img/sale/watch4-mob.webp 1x, \img\sale\watch4-mob-2x.webp 2x"
              type="image/webp" />

            <img src="/img/sale/watch4-desk.webp" alt="Photo of Watch" class="sale-watch-photo" width="96" height="auto"
              loading="lazy" />
          </picture>
        </li>
      </ul>

      <div class="sale-main-photo">
        <picture>

          <source media="(min-width: 1280px)" srcset="/img/sale/watch5-desk.webp 1x,
                          /img/sale/watch5-desk-2x.webp 2x" type="image/webp" />

          <source media="(min-width: 768px)" srcset="/img/sale/watch5-tab.webp 1x, \img\sale\watch5-tab-2x.webp 2x"
            type="image/webp" />

          <source media="(max-width: 767px)" srcset="/img/sale/watch5-mob.webp 1x, \img\sale\watch5-mob-2x.webp 2x"
            type="image/webp" />

          <img src="/img/sale/watch5-desk.webp" alt="Photo of Watch" class="sale-watch-photo" width="328" height="auto"
            loading="lazy" />
        </picture>
      </div>
      <div class="sale-description">
        <h3 class="sale-description-name">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <p class="sale-description-tag">Product tag: 706587</p>
        <ul class="sale-description-price-list">
          <li class="sale-description-price-new">€1500</li>
          <li class="sale-description-price">€3000</li>
        </ul>
        <p class="sale-description-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
          adventurers that takes materials and features
          to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise
          AMOLED
          touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.</p>
        <ul class="sale-description-character-list">
          <li class="sale-description-character">Fused carbon fiber</li>
          <li class="sale-description-character">Grade-5 Titanuim</li>
          <li class="sale-description-character">Athlete</li>
          <li class="sale-description-character">Golfer</li>
          <li class="sale-description-character">Commander</li>
          <li class="sale-description-character">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>