#catalog {
  margin: 30px 0;
 

}

.ctlg-name {
   
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-left: 20px;
}

.goods {
    list-style-type: none;
    margin-left: 0;
    margin-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 335px;

    
}

.name-goods {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background: #f3f3f3;
    gap: 10px;
    padding: 24px 28px;
    
}



.none {
    display: none;
    
}


img {
  display: block;
  
       
}
.img-clock {
  width: 208px;
  height: 226px;
  text-align: center;
  margin-bottom: 28px;
}



.name-clock {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    width: 279px;
    margin-bottom: 8px;
}

.cost-clock {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
    
}



.btn {
    color: #fbfbfb;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    background: #3350e9;
    cursor: pointer;
    border: none; 
    border-radius: 16px;
    min-width: 160px;
    height: 48px;
    padding: 15px 44px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
 }

 



@media only screen and (min-width: 768px) {

    #catalog {
      margin: 40px 0;

    }
    
    .goods {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;
      width: 704px;
      margin-top: 40px;
      padding-left: 0;
      padding-right: 0;
      
    }

    
   

    .none {
      display: flex;
      
      
   }

    .name-goods {
      
     width: calc((100% - 16px) / 2);
     height: 414px;
     
    }

    .img-clock {
     width: 268px;
     height: 292px;
     margin-bottom: 20px;
     
     }


    .ctlg-name {
      font-size: 48px;
      line-height: 0.92;
      letter-spacing: -0.02em;
      color: #0c0c0c;
      margin-left: 32px;
}

    .name-clock {
      font-size: 20px;
      line-height: 1;
      width: 280px;
      white-space: nowrap;        
      overflow: hidden;           
      text-overflow: ellipsis;
      
}    
    .cost-clock {
      padding: 0;
    }
    


    .btn {
      display: none;
    }

}

@media only screen and (min-width: 1280px) {

    #catalog {
     margin: 50px 0;

    }
    .ctlg-name {
      margin-left: 50px;
    }
 
    .goods {
       justify-content: space-between; 
       gap: 23px;
       width: 1150px;
     
       
    }
     .name-goods {
      width: calc((100% - 46px) / 3);
      
     }

     .goods-clock {
       width: 304px;

    }

     .img-clock {
       width: 292px;
       height: 292px;
       margin-bottom: 24px;
       
     }



     .name-clock {
      width: 304px;
      
    
    
}

  
}
