/* Styles for Mobile devices */
.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 312px;
  max-width: 367px;
}

/* Styles for Tablet devices */
@media (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

/* Styles for Desktop devices */
@media (min-width: 1280px) {
  .container {
    max-width: 1180px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
