.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.soc-list {
  display: none;
}

.header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding: 20px 0;
  display: block;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  stroke-width: 2.5px;
  stroke: #0c0c0c;
}

@media (min-width: 768px) {
  .header-logo {
    font-size: 20px;
    padding: 26px 0;
  }

  .burger-icon {
    stroke-width: 3px;
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1280px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #0c0c0c;
    padding: 30px 0;
  }

  .soc-list {
    display: flex;
    gap: 10px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 32px 0;
    margin-right: 203px;
  }

  .soc-link {
    display: block;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
    fill: #0c0c0c;
    background-color: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.8;
  }

  .soc-link:focus,
  .soc-link:hover {
    fill: #3350e9;
  }

  .nav-link {
    position: relative;
  }

  .nav-link::after {
    content: '';
    width: 8px;
    display: block;
    height: 8px;
    background-color: #3350e9;
    border-radius: 100%;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after {
    opacity: 1;
  }
}
