.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.sale-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sale-photos-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.sale-photos-item {
  max-width: 80px;
  max-height: 80px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background-color: #f3f3f3;
  padding: 13px 14px;
}
.sale-main-photo {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  max-width: 335px;
  max-height: 385px;
  background-color: #f3f3f3;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sale-description {
  border-radius: 30px;
  max-width: 335px;
  margin-bottom: 80px;
  background-color: #3350e9;
  padding: 48px 28px;
}
.sale-description-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}
.sale-description-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}
.sale-description-price-list {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 28px;
}
.sale-description-price-new {
  border-radius: 8px;
  width: 68px;
  max-height: 32px;
  padding: 8px 12px;
  background: rgba(251, 251, 251, 0.1);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  display: flex;
  align-items: center;
}
.sale-description-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}
.sale-description-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}
.sale-description-character-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.sale-description-character {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  max-height: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .sale-title {
    font-size: 48px;
    line-height: 0.92;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
  }
  .sale-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sale-photos-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .sale-photos-item {
    max-width: 132px;
    max-height: 132px;
    border-radius: 20px;
    padding: 16px 18px;
  }
  .sale-main-photo {
    flex-basis: calc(100% - 20px);
    max-width: 552px;
    max-height: 558px;
    padding: 80px 112px;
    border-radius: 50px;
  }
  .sale-description {
    margin-top: 20px;
    border-radius: 50px;
    max-width: 704px;
    margin-bottom: 80px;
    padding: 60px;
  }
  .sale-description-name {
    max-width: 436px;
    font-size: 32px;
    line-height: 1.12;
  }
  .sale-description-price-list {
    margin-bottom: 30px;
  }
  .sale-description-price-new {
    width: 78px;
    font-size: 20px;
    line-height: 1;
  }
  .sale-description-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
  .sale-description-character-list {
    max-width: 398px;
  }
  .sale-description-character {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (min-width: 1280px) {
  .sale-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
  }
  .sale-photos-item {
    padding: 16px;
  }
  .sale-main-photo {
    flex-basis: unset;
    width: 428px;
    height: 558px;
    padding: 80px 50px;
  }
  .sale-description {
    margin-top: 0;
    max-width: 530px;
    margin-bottom: 100px;
    max-height: 558px;
  }
  .sale-description-name {
    max-width: 389px;
  }
}
